html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #00AB00;
    --secondary-color: #f3f4f6;
    --text-color: #1f2937;
    --card-bg: #ffffff;
    --folder-color: #fbbf24;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

nav {
    background: linear-gradient(to bottom, var(--primary-color), #008000);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    line-height: 4rem;
}

.menu li {
    list-style: none;
    width: 120px;
    text-align: center;
    position: relative;
}

.dropdown-menu ul li {
    width: 100%;
    height: auto !important;     /* ยกเลิกความสูงจากเมนูหลัก */
    line-height: normal !important; /* ยกเลิก line-height สูงๆ */
    margin: 0 !important;
}

.dropdown-menu ul li a:hover {
    background: #004600;
    width: 100%;
}

.dropdown-menu ul li a {
    display: block;
    padding: 12px 20px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    transition: background 0.2s ease;
}

.menu li:hover {
    background: #006000;
    width: 120px;
    height: 8.5rem;
    line-height: 8.8rem;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    transition: background 0.3s ease;
}

.menu a {
    font-size: 1.4rem;
    line-height: 5.5rem;
}

.dropdown-menu {
    background: #006000;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    margin-top: 12px;
}

.dropdown-menu.show {
    opacity: 1 !important;
    visibility: visible !important;
    margin-top: 0px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-size: 1.5rem;
    margin-left: 40px;
}

.header-content {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    height: 600px;
    text-align: center;
    grid-auto-flow: column;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    width: 100%;
}

.Name a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.Name h2 {
    font-size: 2.5rem;
}

.Name h2 a {
    font-size: 1.6rem;
}

.gradient {
    float: left;
    width: 300px;
    height: 600px;
    background-image: linear-gradient(to left, var(--primary-color), transparent);
    position: absolute;
    margin-left: 300px;
    z-index: 1;
}

.profile-pic {
    float: left;
    width: 600px;
    height: 600px;
    position: absolute;
    background-size: cover;
}

.Profile {
    font-size: 1.5rem;
    margin-left: 40px;
}

.Profile-image {
    width: 400px;
    height: 400px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 4px solid white;
    background-size: cover;
    margin-left: 40px;
}

.OpenToonz {
    width: 100%;
    height: auto;
}

.Profile-content {
    font-size: 1.5rem;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Profile-Name a {
    color: black;
}

.Profile-Name a d {
    font-size: 1.3rem;
}

.Profile-Nickname a {
    color: black;
}

.Profile-Nickname a d {
    font-size: 1.3rem;
}

.Profile-Birthday a {
    color: black;
}

.Profile-Birthday a d {
    font-size: 1.3rem;
}

.Profile-Blood a {
    color: black;
}

.Profile-Blood a d {
    font-size: 1.3rem;
}

.Profile-Race a {
    color: black;
}

.Profile-Race a d {
    font-size: 1.3rem;
}

.Profile-Nationality a {
    color: black;
}

.Profile-Nationality a d {
    font-size: 1.3rem;
}

.Profile-Religion a {
    color: black;
}

.Profile-Religion a d {
    font-size: 1.3rem;
}

.Profile-Address a {
    color: black;
}

.Profile-Address a d {
    font-size: 1.3rem;
}

.Profile-Hobby a {
    color: black;
}

.Profile-Hobby a d {
    font-size: 1.3rem;
}

.Profile-charisma a {
    color: black;
}

.Profile-charisma a d {
    font-size: 1.3rem;
}

.Profile-family {
    font-size: 1.2rem;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.Profile-Father {
    margin-left: 20px;
    margin-top: 16px;
}

.Profile-Father a {
    font-size: 1.5rem;
    color: black;
}

.Profile-Mother {
    margin-left: 20px;
    margin-top: 16px;
}

.Profile-Mother a {
    font-size: 1.5rem;
    color: black;
}

.Proudly {
    font-size: 1.5rem;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Certificate {
    font-size: 1.5rem;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Game-Creator-Certificate {
    width: 80%;
    height: auto;
    margin-left: 11%;
    margin-right: 40px;
    margin-top: 40px;
}

.Text {
    font-size: 1.8rem;
    margin-left: 10%;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 80px;
    display: grid;
    text-align: center;
}

.Education {
    font-size: 1.5rem;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.School {
    margin-left: 12%;
}

.WithyaSuksa {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.WithyaSuksa h2 {
    margin-top: 25%;
}

.WithyaSuksa h2 p {
    font-size: 2.2rem;
    margin-top: 10%;
}

.WithyaSuksa h2 a {
    color: #F3F4F6;
}

.WithyaSuksa-image {
    width: 30vw;
    height: auto;
    margin-left: 20%;
}

.Kannasoot {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Kannasoot h2 {
    margin-top: 25%;
}

.Kannasoot h2 p {
    font-size: 2.2rem;
    margin-top: 10%;
}

.Kannasoot h2 a {
    color: #F3F4F6;
}

.Kannasoot-image {
    width: 30vw;
    margin-top: 40px;
    height: auto;
    margin-left: 20%;
}

@media screen and (max-width: 2049px) {
    .Name {
        flex-direction: column;
    }

    .Name h2 {
        font-size: 0.4rem;
        color: var(--primary-color);
    }
}

@media screen and (max-width: 1688px) {
    .WithyaSuksa h2 p {
        font-size: 1.6rem;
    }

    .WithyaSuksa-image {
        margin-left: 10%;
    }

    .Kannasoot h2 p {
        font-size: 1.6rem;
    }

    .Kannasoot-image {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1259px) {
    .WithyaSuksa h2 p {
        font-size: 1.4rem;
    }

    .WithyaSuksa-image {
        margin-left: 4%;
    }

    .Kannasoot h2 p {
        font-size: 1.4rem;
    }

    .Kannasoot-image {
        margin-left: 4%;
    }
}

@media screen and (max-width: 1113px) {
    .School {
        margin-left: 8%;
    }
}

@media screen and (max-width: 1069px) {
    .Profile-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .Profile-content-and-image {
        display: flex;
    }

    .Profile-image {
        width: 300px;
        height: 300px;
    }

    .Profile-family {
        margin-left: 348px;
    }
}

@media screen and (max-width: 1037px) {
    .School {
        margin-left: 6%;
    }
}

@media screen and (max-width: 1007px) {
    .profile-pic {
        width: 100%;
        height: 80vw;
    }

    .gradient {
        width: 100%;
        height: 40vw;
        background-image: linear-gradient(to top, var(--primary-color), transparent);
        margin-left: 0px;
        margin-top: 40vw;
    }

    .header-content {
        height: 142vw;
        flex-direction: column;
    }

    .Name {
        margin-left: 0px;
        margin-bottom: 10%;
    }

    .Name h2 {
        font-size: 0.25rem;
    }

    .Profile-image {
        width: 250px;
        height: 250px;
    }

    .Profile-family {
        margin-left: 280px;
    }

    .Education {
        font-size: 1.4rem;
    }

    .Certificate {
        font-size: 1.4rem;
    }

    .Proudly {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1003px) {
    .School {
        margin-left: 4%;
    }
}

@media screen and (max-width: 972px) {
    .School {
        margin-left: 2%;
    }

    .WithyaSuksa h2 p {
        font-size: 1.125rem;
    }

    .WithyaSuksa-image {
        margin-left: -4%;
    }

    .Kannasoot h2 p {
        font-size: 1.125rem;
    }

    .Kannasoot-image {
        margin-left: -4%;
    }
}

@media screen and (max-width: 915px) {
    .Profile-image {
        width: 200px;
        height: 200px;
    }

    .Profile-family {
        margin-left: 240px;
    }
}

@media screen and (max-width: 860px) {
    .logo {
        font-size: 1rem;
        margin-left: 40px;
    }

    .menu a {
    font-size: 1.2rem;
    line-height: 5.5rem;
}

    .header-content {
        height: 144vw;
        flex-direction: column;
    }

    .Name {
        margin-left: 0px;
        margin-bottom: 10%;
    }

    .Profile-image {
        width: 200px;
        height: 200px;
    }

    .Profile-family {
        margin-left: 220px;
    }
}

@media screen and (max-width: 777px) {
    .header-content {
        height: 146vw;
        flex-direction: column;
    }

    .Name {
        margin-left: 0px;
        margin-bottom: 6%;
    }

    .Profile-image {
        width: 250px;
        height: 200px;
    }

    .Certificate {
        font-size: 1.2rem;
    }

    .Education {
        font-size: 1.2rem;
    }

    .School {
        margin-left: 1%;
    }

    .WithyaSuksa h2 p {
        font-size: 1rem;
    }

    .WithyaSuksa-image {
        margin-left: -6%;
    }

    .Kannasoot h2 p {
        font-size: 1rem;
    }

    .Kannasoot-image {
        margin-left: -6%;
    }
}

@media screen and (max-width: 708px) {
    .header-content {
        height: 150vw;
        flex-direction: column;
    }

    .Name {
        margin-left: 0px;
        margin-bottom: 4%;
    }

    .Profile-image {
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 701px) {
    .menu a {
    font-size: 0.8rem;
    line-height: 5.5rem;
    }

    .logo {
        font-size: 0.8rem;
        margin-left: 40px;
    }

    .menu li {
        width: 100px;
    }

    .menu li:hover {
        width: 100px;
    }
}

@media screen and (max-width: 689px) {
    .Certificate {
        font-size: 1rem;
    }
    
    .Education {
        font-size: 1rem;
    }

    .School {
        margin-left: 0%;
    }

    .WithyaSuksa h2 p {
        font-size: 0.8rem;
    }

    .WithyaSuksa-image {
        margin-left: -14%;
    }

    .Kannasoot h2 p {
        font-size: 0.8rem;
    }

    .Kannasoot-image {
        margin-left: -14%;
    }
}

@media screen and (max-width: 651px) {
    .menu li {
        width: 80px;
    }

    .menu li:hover {
        width: 80px;
    }

    .Profile-image {
        width: 350px;
        height: 200px;
    }
}

@media screen and (max-width: 637px) {
    .header-content {
        height: 160vw;
        flex-direction: column;
    }

    .Name {
        margin-left: 0px;
        margin-bottom: 4%;
    }

    .Profile-image {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 569px) {
    .header-content {
        height: 180vw;
        flex-direction: column;
    }

    .Name {
        margin-left: 0px;
        margin-bottom: 10%;
    }

    .Profile-image {
        width: 550px;
        height: 200px;
    }

    .dropdown-menu ul li a:hover {
        background: #004600;
        width: 200%;
    }

    .Certificate {
        font-size: 0.8rem;
    }

    .Proudly {
        font-size: 0.8rem;
    }

    .Education {
        font-size: 0.8rem;
    }

    .School {
        margin-left: -2%;
    }

    .WithyaSuksa h2 p {
        font-size: 0.57rem;
    }

    .WithyaSuksa-image {
        margin-left: -14%;
    }

    .Kannasoot h2 p {
        font-size: 0.57rem;
    }

    .Kannasoot h2 {
        margin-top: 50%;
    }

    .Kannasoot-image {
        margin-left: -14%;
    }
}

@media screen and (max-width: 535px) {
    .Profile-content-and-image {
        display: flex;
        flex-direction: column;
    }

    .Profile-image {
        width: 200px;
        height: 200px;
    }

    .Profile-content {
        font-size: 1.2rem;
    }

    .Profile-Name a d {
        font-size: 1.05rem;
    }

    .Profile-Nickname a d {
        font-size: 1.05rem;
    }
    .Profile-Birthday a d {
        font-size: 1.05rem;
    }

    .Profile-Blood a d {
        font-size: 1.05rem;
    }

    .Profile-Race a d {
        font-size: 1.05rem;
    }

    .Profile-Nationality a d {
        font-size: 1.05rem;
    }

    .Profile-Religion a d {
        font-size: 1.05rem;
    }

    .Profile-Address a d {
        font-size: 1.05rem;
    }

    .Profile-Hobby a d {
        font-size: 1.05rem;
    }

    .Profile-charisma a d {
        font-size: 1.05rem;
    }

    .Profile-family {
        font-size: 1rem;
        margin-left: 30px;
    }

    .Profile-Father {
        margin-left: 10px;
        margin-top: 16px;
    }

    .Profile-Father a {
        font-size: 1rem;
    }

    .Profile-Mother {
        margin-left: 10px;
        margin-top: 16px;
    }

    .Profile-Mother a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 479px) {
    .Name {
        margin-left: 0px;
        margin-bottom: 4%;
    }
}

@media screen and (max-width: 465px) {
    .menu a {
    font-size: 0.6rem;
    line-height: 5.5rem;
    }

    .logo {
        font-size: 0.6rem;
        margin-left: 40px;
    }

    .menu li {
        width: 60px;
    }

    .menu li:hover {
        width: 60px;
    }

    .header-content {
        height: 170vw;
        flex-direction: column;
    }

    .Name {
        font-size: 0.7rem;
        margin-left: 0px;
        margin-bottom: 4%;
    }

    .Profile {
        font-size: 1rem;
        margin-left: 20px;
    }
}

@media screen and (max-width: 369px) {
    .menu a {
    font-size: 0.3rem;
    line-height: 5.5rem;
    }

    .logo {
        font-size: 0.4rem;
        margin-left: 10px;
    }

    .menu li {
        width: 30px;
    }

    .menu li:hover {
        width: 30px;
    }

    .header-content {
        height: 200vw;
        flex-direction: column;
    }

    .Name {
        font-size: 0.4rem;
        margin-left: 0px;
        margin-bottom: 4%;
    }
}